﻿    /* Basic layout: centered content with footer pushed down */

    html, body {
        margin: 0;
        height: 100%;
        text-align:center;
        background:#CCCCCC;
        color:#001f3f;
    }
	
    .jumper {
        padding-top:3.5em;
    }
	
    .top {
        position:fixed;
        background:#AD85AD;
        background-image: linear-gradient(to right, #ad85ad, #b59cbc, #bfb2c9, #ccc8d4, #dddddd);
        min-width:100%;
        top:0px;
        left:0px;
        z-index:9999;
    }
	
    .hiddenLink {
        text-decoration:none;
        color:inherit;
    }
	
    .small {
        font-size:85%;
    }
	
    .mono {
        font-family: Consolas, Lucida Console,Lucida Sans Typewriter, monaco, monospace;
    }
	
    .paper {
        background:#FFFFFF;
        padding:3em;
        text-align:justify;
    }
	
    .shady {
        background:#ad85ad;
        padding:3em;
        text-align:justify;
    }

    .shady2 {
        background:#85adad;
        padding:3em;
        text-align:justify;
    }
	
    .shady3 {
        background:#adad85;
        padding:3em;
        text-align:justify;
    }

    .shine {
        color:#0000ff;
    }
	
    .dict {
        color:#009B77;
        cursor: pointer;
    }
	
    .rule {
        color:#0074D9;
        cursor: pointer;
    }
	
    .auto {
        color:#B10DC9;
        cursor: pointer;
    }
	
    .error {
        color:#ff0000;
    }
	
    .doubt {
        color:#006600;
    }
	
    .red {
        color:#ff0000;
    }
	
    .black {
        color:#000000;
    }
	
    .footnote {
        background:#cccccc;
    }
	
    .invisible {
        display:none;
    }
	
    .panel {
        position:fixed;
        top:3em;
        left:0px;
        width: 16%;
        padding-left:2%;
        background:#EEEEEE;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        display:inline-block; /* for centering */
        margin: 0 auto -3em;		
    }
	
    .wrapper {
        width: 80%;
        padding-left:20%;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        display:inline-block; /* for centering */
        margin: 0 auto -3em; 
        margin-top:3em;
    }
	
    .textout {
        width:900px;
	    margin:0;
    }
	
    .footer,
    .push {
        display:inline-block; /* for centering */
        width: 900px;
        height: 3em;
        clear: both; /* for multi-column layouts */
    }